@model IEnumerable<CoreWebProject.Models.Sanatcilar>

    <div class="container" style=margin-top:100px>
        <p>
            <a asp-action="Create" class="btn buttonColor">Sanatçı Ekle</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Sanatçı
                    </th>
                    <th>
                        Cinsiyet
                    </th>
                    <th>
                        Yaş
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SanatciAd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SanatciCinsiyet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yas)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.SanatciId" class="btn buttonColor">Güncelle</a>
                        <a asp-action="Delete" asp-route-id="@item.SanatciId" class="btn buttonColor">Sil</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>